* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 43px 0px 98px 122px;
}
.menu {
    margin-right: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
}
.sing {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
}
.img {
    margin: 111px 0 109px 184px;
   display: inline-block;
}
section {
    display: inline-block;
    margin: 200px 90px 60px 114px;
    position: absolute;
    width: 493px;
}
h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    margin-top: 47 px;
    
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 47px;
}
button {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    border: none;
    background: transparent;
    cursor: pointer;
}
button:hover{
    opacity: .8;
}
button:active{
    opacity: .5;
}

@media screen and (max-width: 800px){
    header {
        margin: 17px 29px 0px 270px;
    }
    .menu {
        display: none;
    }
    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.596154px;
        color: #161A49;
    }
    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #4B505A;
        width: 304px;
        height: 165px;
    }
    button {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        color: #6FBF44; 
        width: 293px;
        height: 34px;
    }
    .sing {
        width: 91px;
        height: 31px;
        margin: 17px 15px 0 0;
    }
    section {
        height: 165px;
        width: 304px;
        position: center;
        margin: 52px 59px 210px 45px;

    }
    .img {
        position: absolute;
        width: 284px;
        height: 275px;
        margin: 439px 45px 32px 59px
    }
    .wapper {
        width: 100px;
        height: 150px;
    }
    
    
}